<div class="container">
  <div class="row">
    <div class="col">
      <h1>Edit Post <%= @post.title %></h1>
      <%= form_for @post, url: {action: "update"} do |f| %>
        <div class="form-group">
          <label for="title">Title</label>
          <%= f.text_field :title,:id => 'title',:class => "form-control" %>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <%= f.text_area :content, size: "60x12",:id => 'content',:class => "form-control" %>
        </div>
        <%= f.submit "Create", :class => "btn btn-primary" %>
        <%= link_to 'Cancel', post_path(@post), :class => "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
</div>